body {
	font-family: "Verdana";
	font-size: 0.75em;
}


#sidebar {
	float: left;
	width: 300px;
}

#graphic {
	float:left;
}

#sperregrense, #delingskoeffisient {
	width: 200px;
	margin: 5px;
}

.seat {
	rx: 3;
	ry: 3;
}

.bars text {
	text-anchor: middle;
}