body {
	font-family: "Verdana";
	font-size: 0.75em;
}


#controls {
	width: 100%;
	margin: 0px;
}

#graphic {
	width:100%;
	float:left;
}

#sperregrense, #delingskoeffisient, #areal-kf {
	width: 200px;
	margin: 5px;
}

.seat {
	rx: 3;
	ry: 3;
}

.bars text {
	text-anchor: middle;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

svg {
	margin: 15px;
}

#valg {
	float:left;
	width: 180px;
}

#election-param, #fylke-param {
	float:left;
	width: 250px;
}

#seattable {
	float: left;
	width: 200px;
}

#seatgraphic-wrap {
	width: 700px;
	float: left;
}




